<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div class="slider-wrap" id="slider-wrap">
        <ul class="list slider" id="slider">
            <li>
                <img src="<%= require('./src/image/red.jpeg') %>" />
            </li>
            <li>
                <img src="<%= require('./src/image/orange.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/yellow.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/green.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/blue.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/indigo.jpeg') %>">
            </li>
            <li>
                <img src="<%= require('./src/image/violet.jpeg') %>">
            </li>
        </ul>

        <div class="btn next" id="next"><i class="fa fa-arrow-right"></i></div>
        <div class="btn previous" id="previous"><i class="fa fa-arrow-left"></i></div>


        <div class="indicator-wrap" id="indicator-wrap">
            <ul>
                <!-- 인디케이터는 동적으로 작동해야되기 때문에
                스크립트를 이용해서 생성할 예정
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li> -->
            </ul>
        </div>

        <div class="control-wrap play" id="control-wrap">
            <i class="fa fa-pause" id="pause" data-status="pause"></i>
            <i class="fa fa-play" id="play" data-status="play"></i>
        </div>

    </div>
</body>

</html>